<h1>出展する</h1>

<%= render 'form', comic: @comic %>



<h1><%= @authorname%>さんの出展作品</h1>
  <% @my_posted_comics.each do |my_posted_comic| %>
    <div class="my_posted_comics">
        <%= link_to comic_path(my_posted_comic) do %>
          <%= image_tag my_posted_comic.front_cover.to_s %>
        <% end %>
      <div class="my_posted_comics_info">
          <ul>
           <li>タイトル<%= my_posted_comic.title %></li>
           <li>ジャンル<%= my_posted_comic.category %></li>
           <li>出展日<%= my_posted_comic.day %></li>
           <li>元ネタ<%= my_posted_comic.origin_title %></li>
           <li>作品紹介<%= my_posted_comic.introduction %></li>
          </ul>
      </div>
      <div class= "my_posted_comic_edit_button">
          <%= link_to 'Edit', edit_comic_path(my_posted_comic) %>
      </div>
      <div class= "my_posted_comic_delete_button">
          <%= link_to 'Destroy', comic_path(my_posted_comic), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>




<%= link_to 'Back', comics_path %>
