<div class="ranking_page">
  <h1>総合ランキング</h1>
  <div class="ranked_comics">
    <% @ranked_comics.each do |comic| %>
      <div class="ranked_comic">
        <% case @ranked_comics.index(comic) %>
          <% when 0 %>
            <%= image_tag 'gold_crown.png',class: :gold_crown %>
          <% when 1 %>
            <%= image_tag 'silver_crown.png', class: :silver_crown %>
          <% when 2 %>
            <%= image_tag 'copper_crown.png', class: :copper_crown %>
        <% end %>
        <%= link_to comic_path(comic) do %>
          <%= image_tag comic.front_cover.to_s %>
          <div class="ranked_comics_info">
          <p><%= image_tag 'likedstar.png', class: :rank_likedstar %>
             <%= comic.likes_count %></p>
          <p><%= image_tag 'authormark.png', class: :authormark %>
             <%= comic.user.username %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>








