<h1>検索</h1>

<%= form_tag(search_comics_path, method: :get) do  %>
  <div class="field">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :type %>
    <%= text_field_tag :type %>
  </div>

  <div class="field">
    <%= label_tag :day %>
    <%= number_field_tag :day %>
  </div>

  <div class="field">
    <%= label_tag :origin_title %>
    <%= text_field_tag :origin_title %>
  </div>

  <div class="field">
    <%= label_tag :agetarget %>
    <%= number_field_tag :agetarget %>
  </div>

  <div class="actions">
    <%= submit_tag :検索する %>
  </div>
<% end %>


<h1>検索結果</h1>
  <% if @search_result.blank? %>
    検索結果はありませんでした
  <% else %>
    <% @search_result.each do |comic| %>
      <%= comic.title %>
    <% end %>
  <% end %>

<%= link_to 'Back', root_path %>
