<h1>検索する</h1>


<div class="search_form">
  <h2>検索項目</h2>
 <%= form_tag(search_comics_path, method: :get) do  %>
  <div class="field">
    <%= label_tag :タイトル %>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :カテゴリー %>
    <%= text_field_tag :category %>
  </div>

  <div class="field">
    <%= label_tag :出展日 %>
    <%= number_field_tag :day %>
  </div>

  <div class="field">
    <%= label_tag :元ネタ %>
    <%= text_field_tag :origin_title %>
  </div>

  <div class="field">
    <%= label_tag :年齢対象 %>
    <%= number_field_tag :agetarget %>
  </div>

  <div class="actions">
    <%= submit_tag :検索する %>
  </div>
 <% end %>
</div>


<div class="search_result">
  <h3>検索結果</h3>
  <% if @search_result.blank? %>
    検索結果はありませんでした
  <% else %>
    <% @search_result.each do |comic| %>
      <%= link_to comic_path(comic) do %>
         <%= image_tag comic.front_cover.to_s %>
        <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', root_path %>
