<p id="notice"><%= notice %></p>

<div class="show_upper">
  <div class="frontcover_and_likes_count">
    <%= image_tag @comic.front_cover.to_s %>
      <div class="likes_count">
        <%= @comic.likes_count %>
        <%= image_tag 'likedstar.png', class: :show_likedstar %>
      </div>
  </div>

  <div class="contents_picture">
    <%= safe_image_tag(@comic.content_first.to_s) %>
    <%= safe_image_tag(@comic.content_second.to_s) %>
    <%= safe_image_tag(@comic.content_third.to_s) %>
    <%= safe_image_tag(@comic.content_fourth.to_s) %>
  </div>


  <div class="introduction">
    <strong>作品説明</strong>
    <%= @comic.introduction %>
  </div>
</div>




<div class="show_lower">
  <table class="show_lower_table">
    <tr>
      <td><strong>タイトル</strong></td>
      <td><%= @comic.title %></td>
    </tr>
    <tr>
      <td><strong>価格</strong></td>
      <td><%= @comic.price %>円</td>
    </tr>
    <tr>
      <td><strong>SNSリンク１</strong></td>
      <td><%= @comic.sns_first %></td>
    </tr>
    <tr>
      <td><strong>SNSリンク２</strong></td>
      <td><%= @comic.sns_second %></td>
    </tr>
    <tr>
      <td><strong>SNSリンク３</strong></td>
      <td><%= @comic.sns_third %></td>
    </tr>
    <tr>
      <td><strong>SNSリンク４</strong></td> 
      <td><%= @comic.sns_fourth %></td>
    </tr>
    <tr>
      <td><strong>カテゴリー</strong></td>
      <td><%= @comic.category %></td>
    </tr>
    <tr>
      <td><strong>出展日</strong></td>
      <td><%= @comic.day %></td>
    </tr>
    <tr>
      <td><strong>元ネタ</strong></td>
      <td><%= @comic.origin_title %></td>
    </tr>
  </table>
</div>



<div class="buy_or_notbuy_button">
  <% if @comic.liked?(current_user.id) %>
    <%= button_to '買うかもリストから外す', unlike_comic_path(@comic), :method => 'post', class: :show_like_button %>
  <% else %>
    <%= button_to '買うかもリストに追加する', like_comic_path(@comic), :method => 'post', class: :show_like_button %>
    <%= image_tag 'likedstar.png', class: :show_like_button_likedstar %>
  <% end %>
</div>




















