<p id="notice"><%= notice %></p>

<div class="show_upper">
  <div class="frontcover_and_likes_count">
    <%= image_tag @comic.front_cover.to_s %>
    <div class="likes_count">
      <%= image_tag 'likedstar.png', class: :show_likedstar %>
      <%= @comic.likes_count %>
    </div>
  </div>

  <div class="contents_picture">
    <%= safe_image_tag(@comic.content_first.to_s) %>
    <%= safe_image_tag(@comic.content_second.to_s) %>
    <%= safe_image_tag(@comic.content_third.to_s) %>
    <%= safe_image_tag(@comic.content_fourth.to_s) %>
  </div>


  <div class="introduction">
    <strong>作品説明</strong>
    <%= @comic.introduction %>
  </div>
</div>



<div class="buy_or_notbuy_button">
  <% if @comic.liked?(current_user.id) %>
    <%= link_to 'いいかもリストから外す', unlike_comic_path(@comic), method: :post, class: :show_like_button %>
  <% else %>
    <%= link_to like_comic_path(@comic), method: :post, class: :show_like_button do %>
      <%= image_tag 'likedstar.png', class: :show_like_button_likedstar %>
      <%= 'いいかもリストに追加する' %>
    <% end %>
  <% end %>
</div>

<%= link_to '欲しいかもリストに追加する', want_comic_path(@comic), method: :post %>



<div class="show_lower">
    <p><strong>タイトル</strong><%= @comic.title %></p>
    <p><strong>価格</strong><%= @comic.price %>円</p>
    <p><strong>SNSリンク１</strong><%= @comic.sns_first %></p>
    <p><strong>SNSリンク２</strong><%= @comic.sns_second %></p>
    <p><strong>カテゴリー</strong><%= @comic.category %></p>
    <p><strong>出展日</strong><%= @comic.day %>日目</p>
    <p><strong>元ネタ</strong><%= @comic.origin_title %></p>
</div>



























