<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Front cover:</strong>
  <%= @comic.front_cover %>
</p>

<p>
  <strong>Price:</strong>
  <%= @comic.price %>
</p>

<p>
  <strong>Sns first:</strong>
  <%= @comic.sns_first %>
</p>

<p>
  <strong>Sns second:</strong>
  <%= @comic.sns_second %>
</p>

<p>
  <strong>Sns third:</strong>
  <%= @comic.sns_third %>
</p>

<p>
  <strong>Sns fourth:</strong>
  <%= @comic.sns_fourth %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @comic.introduction %>
</p>

<p>
  <strong>Content first:</strong>
  <%= @comic.content_first %>
</p>

<p>
  <strong>Content second:</strong>
  <%= @comic.content_second %>
</p>

<p>
  <strong>Content third:</strong>
  <%= @comic.content_third %>
</p>

<p>
  <strong>Content fourth:</strong>
  <%= @comic.content_fourth %>
</p>

<p>
  <strong>Content fifth:</strong>
  <%= @comic.content_fifth %>
</p>

<p>
  <strong>Type:</strong>
  <%= @comic.category %>
</p>

<p>
  <strong>Day:</strong>
  <%= @comic.day %>
</p>

<p>
  <strong>Origin title:</strong>
  <%= @comic.origin_title %>
</p>

<p>
  <strong>Agetarget:</strong>
  <%= @comic.agetarget %>
</p>




<% if @comic.liked?(current_user.id) %>
  <%= link_to '買うかもリストから外す', unlike_comic_path(@comic), :method => 'post' %>
<% else %>
  <%= link_to '買うかもリストに追加する', like_comic_path(@comic), :method => 'post' %>
<% end %>


<%= render partial: "layouts/footer" %>





















