<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>表紙</strong>
  <%= @comic.front_cover %>
</p>

<p>
  <strong>価格</strong>
  <%= @comic.price %>円
</p>

<p>
  <strong>SNSリンク１</strong>
  <%= @comic.sns_first %>
</p>

<p>
  <strong>SNSリンク２</strong>
  <%= @comic.sns_second %>
</p>

<p>
  <strong>SNSリンク３</strong>
  <%= @comic.sns_third %>
</p>

<p>
  <strong>SNSリンク４</strong>
  <%= @comic.sns_fourth %>
</p>

<p>
  <strong>作品説明</strong>
  <%= @comic.introduction %>
</p>

<p>
  <strong>チラ見せ１</strong>
  <%= @comic.content_first %>
</p>

<p>
  <strong>チラ見せ２</strong>
  <%= @comic.content_second %>
</p>

<p>
  <strong>チラ見せ３</strong>
  <%= @comic.content_third %>
</p>

<p>
  <strong>チラ見せ４</strong>
  <%= @comic.content_fourth %>
</p>

<p>
  <strong>チラ見せ５</strong>
  <%= @comic.content_fifth %>
</p>

<p>
  <strong>カテゴリー</strong>
  <%= @comic.category %>
</p>

<p>
  <strong>出展日</strong>
  <%= @comic.day %>
</p>

<p>
  <strong>元ネタ</strong>
  <%= @comic.origin_title %>
</p>

<%= link_to 'Back', root_path %>

<% if @comic.liked?(current_user.id) %>
  <%= link_to '買うかもリストから外す', unlike_comic_path(@comic), :method => 'post' %>
<% else %>
  <%= link_to '買うかもリストに追加する', like_comic_path(@comic), :method => 'post' %>
<% end %>




















