<p id="notice"><%= notice %></p>

<div class="show_upper">
  <div class="frontcover_and_likes_count">
    <%= image_tag @comic.front_cover.to_s %>
      <div class="likes_count">
        <%= @comic.likes_count %>
      </div>
  </div>

  <div class="contents_picture">
    <%= image_tag @comic.content_first.to_s %>
    <%= image_tag @comic.content_second.to_s %>
    <%= image_tag @comic.content_third.to_s %>
    <%= image_tag @comic.content_fourth.to_s %>
  </div>

  <div class="introduction">
    <strong>作品説明</strong>
    <%= @comic.introduction %>
  </div>
</div>




<div class="show_lower">
  <ul>
   <li><strong>タイトル</strong><%= @comic.title %></li>
   <li><strong>価格</strong><%= @comic.price %>円</li>
   <li><strong>SNSリンク１</strong><%= @comic.sns_first %></li>
   <li><strong>SNSリンク２</strong><%= @comic.sns_second %></li>
   <li><strong>SNSリンク３</strong><%= @comic.sns_third %></li>
   <li><strong>SNSリンク４</strong> <%= @comic.sns_fourth %></li>
   <li><strong>カテゴリー</strong><%= @comic.category %></li>
   <li><strong>出展日</strong><%= @comic.day %></li>
   <li><strong>元ネタ</strong><%= @comic.origin_title %></li>
  </ul>
</div>


<%= link_to 'Back', root_path %>

<% if @comic.liked?(current_user.id) %>
  <%= link_to '買うかもリストから外す', unlike_comic_path(@comic), :method => 'post' %>
<% else %>
  <%= link_to '買うかもリストに追加する', like_comic_path(@comic), :method => 'post' %>
<% end %>




















