<%# ログイン画面 %>

<div class="loginupper">
</div>

<div class="loginmiddle">
  <h2>新規登録</h2>
  <div class="registration_buttons">
    <div class="registration_user_button">
     <%#= image_tag 'login_button_people.png' %>
     <%= link_to "ユーザー名で新規登録する", new_registration_path(resource_name)%>
    </div>
    <div class="registration_twitter_button">
     <% resource_class.omniauth_providers.each do |provider| %>
       <%= link_to "#{OmniAuth::Utils.camelize(provider)}で新規登録する", omniauth_authorize_path(resource_name, provider), method: :post %>
     <% end %>
    </div>
     <%#= image_tag 'Twitter_Logo_WhiteOnBlue.png', class: :twitter_icon_sign_in %>
  </div>
</div>




<div class="loginlower">
  <h2>ログインする</h2>
    <div class="login_buttons">
     <%#= image_tag 'Twitter_Logo_WhiteOnBlue.png', class: :twitter_icon_log_in %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <%= f.text_field :username, autofocus: true, autocomplete: "email", placeholder: "username" , class: :login_username%><br>
         <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: :login_password %><br>
         <%= f.submit "ユーザー名でログインする", class: :login_button %>
      <% end %>
      <div class="login_twitter">
        <% resource_class.omniauth_providers.each do |provider| %>
          <%#= image_tag 'Twitter_Logo_WhiteOnBlue.png', class: :twitter_icon_log_in %>
          <%= link_to "#{OmniAuth::Utils.camelize(provider)}でログインする", omniauth_authorize_path(resource_name, provider), method: :post %><br />
        <% end %>
      </div>
    </div>
</div>



<%#= render "devise/shared/links" %>
