<%# ログイン画面 %>
<div class="devise_session_sign_in">
  <h2>新規会員登録</h2>
  <%= button_to "メールアドレスで登録する", new_registration_path(resource_name), class: :new_registration_button, method: :get %><br />
  <%= image_tag 'mailicon', class: :mail_icon %>


  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "#{OmniAuth::Utils.camelize(provider)}で新規登録する", omniauth_authorize_path(resource_name, provider), class: :devise_twitter_button %><br />
  <% end %>
    <%= image_tag 'Twitter_Logo_WhiteOnBlue.png', class: :twitter_icon_sign_in %>
</div>


<div class="devise_session_log_in">
  <h2>ログインする</h2>

  <% resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "#{OmniAuth::Utils.camelize(provider)}でログインする", omniauth_authorize_path(resource_name, provider), class: :devise_twitter_button %><br />
  <% end %>
    <%= image_tag 'Twitter_Logo_WhiteOnBlue.png', class: :twitter_icon_log_in %>



  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login_field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="login_field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <%= button_to "ユーザー名でログインする", user_session_path, class: :login_button %>

  <% end %>
</div>



<%#= render "devise/shared/links" %>
