<p><%= @sum_of_my_liked_comics_price %></p>

 <% @my_liked_comics.each do |my_liked_comic| %>
  <div class="one_of_my_liked_comics">
   <%= my_liked_comic.title %>
   <%= my_liked_comic.day %>
   <%= my_liked_comic.type %>
   <%= my_liked_comic.price %>
   <%= my_liked_comic.introduction %>
  </div>
 <% end %>