<h1><%= current_user.username %>さんの欲しいかもリスト</h1>
  <div class="sum_of_my_wanted_comics_price" >
    <%= image_tag("budget_money.png") %>
    購入予定
    <%= @sum_of_my_wanted_comics_price %>
    円
  </div>

 <% @my_wanted_comics.each do |my_wanted_comic| %>
  <div class="one_of_my_wanted_comics">
    <%= link_to comic_path(my_wanted_comic) do %>
      <%= image_tag my_wanted_comic.front_cover.to_s %>
    <% end %>
    <ul>
     <li>タイトル:<%= my_wanted_comic.title %></li>
     <li>出展日:<%= my_wanted_comic.day %>日</li>
     <li>カテゴリ:<%= my_wanted_comic.category %></li>
     <li>価格:<%= my_wanted_comic.price %>円</li>
     <li>商品紹介:<%= my_wanted_comic.introduction %></li>
    </ul>
    <hr>
  </div>
 <% end %>
