<!DOCTYPE html>
<html>
  <head>
    <title>ComilogRevisedEdition</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <%# deviseログイン フラッシュメッセージ %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <table>
        <tr>
          <td><%= button_to 'ホーム', root_path, method: :get, class: "footer_td" %></td>
          <td><%= button_to '買うかもリスト', my_likes_path, method: :get, class: "footer_td" %></td>
          <td><%= button_to '出品する', new_comic_path, method: :get, class: "footer_td" %></td>
          <td><%= button_to '検索する', search_comics_path, method: :get, class: "footer_td" %></td>
          <td><%= button_to 'ランキング', rank_comics_path, method: :get, class: "footer_td" %></td>
        <tr>
      </table>
    </footer>
  </body>
</html>
