<!DOCTYPE html>
<html>
  <head>
    <title>ComilogRevisedEdition</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to image_tag('comilog.png'), root_path, class: "logo_pic" %>
        <% if user_signed_in? %>
          <%= button_to 'プロフィール変更', edit_user_registration_path, method: :get, class: "header_left_button" %>
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header_right_button" %>
          <div class="header_search">
            <%= form_tag(header_search_comics_path, method: :get) do %>
             <%= text_field_tag :keyword, '', class: "header_search_box", placeholder: "サークル名や著者名"%>
             <%= image_submit_tag ("glass.png"), class: "search_glass" %>
            <% end %>
          </div>
        <% else %>
          <%= button_to 'サインアップ', new_user_registration_path, method: :get, class: "header_left_button" %>
          <%= button_to 'ログイン', new_user_session_path, method: :get, class: "header_right_button" %>
        <% end %>
      </nav>
    </header>
    <%# deviseログイン フラッシュメッセージ %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
       <%= link_to 'ホーム', root_path %>
       <%= link_to '買うかもリスト', my_likes_path %>
       <%= link_to '出品する', new_comic_path %>
       <%= link_to '検索する', search_comics_path %>
       <%= link_to 'ランキング', rank_comics_path %>
    </footer>
  </body>
</html>
